.App {
  width: 1000px;
  margin: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
   
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display: flex;
  
  
}
.bg1 p{
  
  background-color: yellow;
}

.container2{
  color: yellow;
 height: 450px;
 width: 1400px;
 margin: auto;
  background-image: url("https://payload.cargocollective.com/1/6/200664/2775040/Screen%20Shot%202012-01-20%20at%2013.52.19.png");
}
.statistique{
  display: flex;
    
}
.nt{
  padding: 50px;
}
.title2{
  margin-right: 1000px;
}
.footer-container{
  display: flex;
  justify-content: center
}
.footer-container img{
  padding: 30px;
  
}
.footer-container h1{
  text-align: center
}
.title{
  text-align: center;
  font-size: 50px;
  color: aqua;
  padding-bottom: 20px
}